.App {
  justify-content: center;
}
.navbar {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: green;
  font-weight: 1000;
}
a:hover {
  color: red;
  transition: 0.5s ease-in;
}
